.root {
	-fx-background-image: url("../images/background.png");
	-fx-background-repeat: no-repeat;
    -fx-base: #efeee9;
   -fx-darker: derive(#efeee9, -10%);
   -fx-lighter: derive(#efeee9, +10%);
   darkred: #b2598d;
   textcolor-highlight-primary: #d19cb8;
   textcolor-stopper: red;
   textcolor-warning: orange;
}

.navigation-view-content {
    -fx-background-image: url("../images/Seitenrand.png");
    -fx-background-repeat: no-repeat;
}
.navigation-view-heading-line {	
	-fx-border-width: 1px;
	-fx-border-color: transparent;
	-fx-border-insets: 0 0 0 31px;
}

/** Section title */
.character-document-view-title {
  -fx-text-fill: white;
  -fx-background-color: darkred;
}

.character-document-view-todos {
}
.character-document-view-section-content {
  -fx-background-color: #efeee9;
}

.description-text {
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-border-color: transparent;
}

.settings-and-commandbar {
    -fx-border-color: -fx-base;
}

/**
.settings-and-commandbar .button {
    -fx-background-color: rgba(0,0,0, 0.2);
    -fx-text-fill: white;
}
.settings-and-commandbar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

.settings-and-commandbar .label {
    -fx-text-fill: black;
}
*/
.command-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 60px;
}

#shadowrun-overview {
   -fx-background-image:  url('../images/Overview2.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
.dialog {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
 }

#shadowrun-life {
   -fx-background-image:  url('../images/pages/Living2b.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
#shadowrun-equipment {
   -fx-background-image:  url('../images/pages/Weapons.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
#shadowrun-magic {
   -fx-background-image:  url('../images/pages/Magic1.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
#shadowrun-augmentation {
   -fx-background-image:  url('../images/pages/Augmentation2.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
#shadowrun-vehicles {
   -fx-background-image:  url('../images/pages/Vehicles2.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
#shadowrun-matrix {
   -fx-background-image:  url('../images/pages/Matrix.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
#shadowrun-skills {
   -fx-background-image:  url('../images/pages/Skills.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}

.dialog-outside {
    -fx-background-color: rgba(0,0,0, 0.8);
    -fx-opacity: 1;
}

.dialog-line {
    -fx-background-color: transparent;
}
.priobutton {
    -fx-text-color: black;
}

.wizard-content {
    -fx-background-color: transparent;
}
.text-header, .text-subheader {
    -fx-text-fill: darkred;
}

.free-points {
  -fx-background-color: -fx-darker;
}
.free-points .label{
  -fx-text-fill: white;
  -fx-font-size: large;
}

.embed-possible {
	-fx-background-color: textcolor-highlight-primary;
}

.embed-after-remove {
	-fx-background-color: rgba(208, 156, 184, 0.5);
}

.embed-impossible {
	-fx-background-color: transparent;
}
