@font-face {
	font-family: 'ArmaduraSolidW00-Regular';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/ArmaduraSolid.ttf');
}


.character-document-view-title-left {
}

.character-document-view-title {
  -fx-font-family: "ArmaduraSolidW00-Regular";
  -fx-font-size: 120%;
  -fx-text-fill: -fx-textcolor;
  -fx-background-color: -fx-outer-border;
  -fx-padding: 0 0.3em 0 0.3em;
}

.character-document-view-section-content {
  -fx-background-color: -fx-control-inner-background;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: -fx-outer-border;
}

.table-column:rowhover {
    -fx-background-color: -fx-cell-hover-color;
}
.table-column:selected {
    -fx-background-color: textcolor-highlight-primary;
}
.table-head {
  -fx-text-fill: textcolor-highlight-primary;
  -fx-border-color: textcolor-highlight-primary;
  -fx-font-weight: bold;
  -fx-border-width: 1px 0px 1px 0px;
  -fx-padding: 0em 0.2em 0em 0.2em;
}
.row-heading {
  -fx-text-fill: textcolor-highlight-primary;
  -fx-font-weight: bold;
}
.list-view {
    -fx-background-color: -fx-base;
}
.list-cell:odd {
    -fx-background-color: -fx-darker;
}
.list-cell:even {
    -fx-background-color: transparent;
}
.list-cell:selected {
    -fx-background-color: textcolor-highlight-primary;
}
.list-cell:hover {
    -fx-background-color: -fx-faint-focus-color;
}
.list-cell:selected:hover {
  -fx-background-color: -fx-focus-color;
}
.list-cell:empty {
  -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: -fx-base;
}


#shadowrun-development {
   -fx-background-color: background;
   -fx-background-image:  url('../images/Overview.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}
#shadowrun-development .character-document-view-description {
  -fx-max-width: 30em;
  -fx-min-width: 15em;
}
#shadowrun-development .description-text {
  -fx-max-width: 30em;
}

/*
 * Priority table 
 */
.priobutton {
	-fx-background-color: transparent;
}
.priobutton:hover {
    -fx-background-color: -fx-accent;
}
.priobutton:hover {
    -fx-background-color: -fx-cell-hover-color;
}
.priobutton:selected {
	-fx-background-color: textcolor-highlight-primary;
}
.priobutton:selected:hover {
  -fx-background-color: -fx-focus-color;
}
.priobutton-metatype {
    -fx-pref-size: 15em;
    -fx-max-width: 15em;
}

.dialog-content{
    -fx-padding: 20px 0 20px 20px;
}

.requirement-not-met-text {
    -fx-text-fill: red;
}

